#projects {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.projects-card{
  width: 500px;
}

.projects-card .up-title {
  color: #00d6e8;
  font-size: 16px;
  text-transform: uppercase;
}

.projects-card .title {
  text-transform: uppercase;
  color: #41454f;
  font-size: 30px;
}

.projects-card .subtitle {
  color: #35383f;
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.projects-img {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.projects-img img {
  width: 500px;
}
