.main-page {
  background-image: url("../background4.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: green;
}

@media (max-width: 1000px) {
  .main-page {
    display: none;
    visibility: hidden;
    background-color: grey;
  }
}
