* {
  color: white;
  font-family: poppins, sans-serif;
}

@media (max-width: 1000px) {
  .app {
    display: none;
    visibility: hidden;
    background-color: grey;
  }
}

/* 
#00D6E8 cyan
#41454F dark blue
#35383F medium grey

*/
