#about-me {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgb(22, 22, 22);
  padding: 70px 100px;
  text-align: center;
}

.about-me-tab .title {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.about-me-tab .subtitle {
  color: white;
  margin-top: 5px;
  font-size: 14px;
}

.side-card {
  padding: 30px;
  display: flex;
  align-items: center;
  max-height: 500px;
  gap: 15px;
  justify-content: center;
}

.side-card img {
  width: 180px;
  border-radius: 15px;
}

.text {
  flex: 1;
  padding: 10px;
  text-align: justify;
  font-size: 12px;
}

.image {
  flex: 1;
  padding: 10px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  #about-me {
    padding: 0;
  }

  .about-me-tab .title {
    font-size: 18px;
  }

  .about-me-tab .subtitle {
    font-size: 11px;
  }

  .side-card {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .side-card img {
    width: 150px;
  }

  .text {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  #about-me {
    padding: 0;
  }


  .about-me-tab .title {
    font-size: 16px;
  }

  .about-me-tab .subtitle {
    font-size: 10px;
  }

  .side-card {
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }

  .side-card img {
    width: 100%;
    max-width: 400px;
  }

  .text {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  #about-me {
    padding: 0;
  }


  .about-me-tab .title {
    font-size: 14px;
  }

  .about-me-tab .subtitle {
    font-size: 8px;
  }

  .side-card {
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

 .side-card img {
    width: 100%; 
    max-width: 400px; 
  }
  .text {
    font-size: 8px;
  }
}
